.rental-page {
    width:100%;
    .wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        .big-image {
            width:calc(100% - 25rem);
            margin-bottom:5rem;
            @media (max-width: 1024px) {
                width:calc(100% - 10rem);
              }
            
              @media (max-width: 600px) {
                 width:calc(100% - 2rem);
              }
        }
        .poster-gallery {
            grid-template-columns: repeat(6, 1fr);
            @media (max-width: 1024px) {
                grid-template-columns: repeat(3, 1fr);
              }
            
              @media (max-width: 600px) {
                gap: 1.5rem;
                padding:0;
                grid-template-columns: repeat(2, 1fr);
              }
         }
    }
}